@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Righteous&display=swap');

.hd{
    font-family: 'Righteous', cursive;
}
h1{
    font-weight: bolder;
}
.hi{
    color: darkmagenta;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
.hi:hover{
    color: darkorange;
}
.add{
  background-color: green;
  color: white;
}
.add:hover{
    background-color: white;
    color: green;
}
.sub{
    background-color: darkslateblue;
    color: white;
  }
.sub:hover{
      background-color: white;
      color:darkslateblue;
  }
  .reset{
    background-color:darkred;
    color: white;
  }
  .reset:hover{
      background-color:white;
      color: darkred;
  }
